<!-- books.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>auss</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>auss</h1>
  <table class="book-table">
    <tr>
      <th>name</th>
      <th>last</th>
      <th>Actions</th>
    </tr>
    <% for(var i=0; i < auss.length; i++) { %>
    <tr>
      <td><%= auss[i].name %></td>
      <td><%= auss[i].last %></td>
      <td>
        <a href="/aus/<%= auss[i].id_new %>">View</a>
        <a href="/update2/<%= auss[i].id_new %>">Edit</a>
        <a href="/delete2/<%= auss[i].id_new %>">Delete</a>
      </td>
    </tr>
    <% } %>
  </table>
  <div class="link-center">
    <a href="/create2">Create name</a>
    <a href="/books">Go to Books</a>
  </div>
</body>
</html>